In [11]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))


import numpy as np
import pandas as pd
import string
import re
import os
import sys
sys.path.append(os.path.dirname(os.getcwd()))

from project_tools import project_utils, project_config

from importlib import reload
import time
import datetime
import json
import csv
from tqdm import tqdm_notebook

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 1000)
pd.set_option('display.max_rows', 1600)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
appdata = pd.read_csv('../input/20215_AppData.csv')
param = pd.read_csv('../input/20215_paramCombined.csv')
iswdata = pd.read_csv('../input/ISWdata.csv')
iswmetric = pd.read_csv('../input/ISWMetrics.csv')

In [27]:
pd.Series(param['UserID'].unique()).value_counts()

4    1
3    1
2    1
1    1
dtype: int64

In [30]:
param.columns

Index(['SegmentId', 'Value', 'UserId', 'Cell', 'uMotifTime', 'motifHour',
       'TimeBin', 'Day', 'Month'],
      dtype='object')

In [33]:
param.drop_duplicates(subset=['UserId', 'Cell'])['Cell'].value_counts()

3    111
2    109
4     97
1     95
Name: Cell, dtype: int64

In [17]:
appdata[~pd.isnull(appdata['Q798'])].shape

(1571, 15)

In [37]:
appdata[~pd.isnull(appdata['Q598'])]

,userid,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q798,Q598,OperationTimestamp,Cell,Day,Month,TimeBin
32,26349,11,2,1,7.000,98,2,2,NaN,Away from home in a hotel,21/11/2019 07:24,2,21,11,1
228,26250,5,3,2,nan,98,1,3,NaN,Working from home,21/11/2019 10:21,2,21,11,1
247,26366,1,3,2,nan,98,3,3,NaN,Holiday,21/11/2019 10:54,1,21,11,1
283,26481,8,1,1,7.000,98,1,3,NaN,Aldi food shopping,21/11/2019 12:08,2,21,11,2
297,26399,5,3,2,nan,98,2,3,NaN,Setting of to pick some one up from the airport,21/11/2019 12:13,4,21,11,2
485,26250,6,3,1,2.000,98,2,3,NaN,Working from home,21/11/2019 14:02,2,21,11,2
502,26366,1,3,2,nan,98,3,3,NaN,Holiday,21/11/2019 14:20,1,21,11,2
506,26485,8,2,1,7.000,98,1,3,NaN,Town centre shopping,21/11/2019 14:22,2,21,11,2
618,26349,1,3,2,nan,98,2,98,Dark,On my way home after 3 days away from home on a training course,21/11/2019 16:40,2,21,11,3
684,26512,5,3,2,nan,98,2,98,Very cold,Christmas shopping,21/11/2019 17:06,1,21,11,3
699,26308,13,4,1,2.000,98,2,98,Cold,In work van on way home,21/11/2019 17:09,2,21,11,3
712,26371,6,2,2,nan,98,4,3,NaN,Meeting,21/11/2019 17:17,4,21,11,3
713,26447,4,2,2,nan,98,2,3,NaN,Swimming with the kids,21/11/2019 17:17,2,21,11,3
736,26500,8,3,2,nan,98,2,98,Cold,Shopping,21/11/2019 17:30,3,21,11,3
760,26485,3,3,2,nan,98,2,3,NaN,On a bus heading to a wine tasting,21/11/2019 17:42,2,21,11,3
776,26535,14,2,2,nan,98,1,98,Dark,In car,21/11/2019 17:58,2,21,11,3
791,26493,8,4,1,6.000,98,2,4,NaN,On way to quiz,21/11/2019 18:30,2,21,11,3
802,26366,2,3,2,nan,98,3,2,NaN,Holiday,21/11/2019 18:53,1,21,11,3
897,26579,7,2,2,nan,98,3,2,NaN,Shopping,21/11/2019 20:23,3,21,11,4
904,26355,3,4,2,nan,98,3,4,NaN,Driving/with friends,21/11/2019 20:25,2,21,11,4
968,26366,7,3,2,nan,98,3,5,NaN,Holiday,21/11/2019 20:56,1,21,11,4
969,26555,13,3,2,nan,98,1,3,NaN,Picking daughter up from cadets,21/11/2019 20:57,2,21,11,4
1029,26457,2,3,2,nan,98,1,98,Cold,Cold,21/11/2019 21:06,3,21,11,4
1099,26493,10,3,1,6.000,98,3,4,NaN,On way home from quiz,21/11/2019 22:02,2,21,11,4
1106,26314,7,3,2,nan,98,2,4,NaN,At a show,21/11/2019 22:11,2,21,11,4
1271,26436,3,2,2,nan,98,1,4,NaN,Fishing,22/11/2019 08:13,3,22,11,1
1302,26696,13,2,1,13.000,98,2,4,NaN,Breakfast club with kids,22/11/2019 08:37,1,22,11,1
1360,26302,1,4,2,nan,98,2,2,NaN,Shopping,22/11/2019 09:06,3,22,11,1
1406,26250,2,2,2,nan,98,1,1,NaN,Working from home,22/11/2019 09:38,2,22,11,1
1523,26462,5,2,2,nan,98,2,2,NaN,On a train,22/11/2019 12:32,1,22,11,2
1574,26703,5,2,2,nan,98,1,3,NaN,On lunch break,22/11/2019 13:01,3,22,11,2
1603,26250,13,2,1,3.000,98,1,4,NaN,Working from home,22/11/2019 13:04,2,22,11,2
1644,26436,5,3,2,nan,98,1,3,NaN,Fishing,22/11/2019 13:12,3,22,11,2
1692,26395,7,2,2,nan,98,5,3,NaN,Public transport,22/11/2019 13:40,1,22,11,2
1720,26576,4,3,2,nan,98,1,3,NaN,Stripping wall in house,22/11/2019 14:03,1,22,11,2
1767,26462,1,3,2,nan,98,2,2,NaN,Out of town,22/11/2019 16:05,1,22,11,3
1884,26362,13,3,1,8.000,98,3,98,Dark and late,Out,22/11/2019 17:01,4,22,11,3
1897,26414,2,2,2,nan,98,5,3,NaN,Gym,22/11/2019 17:03,2,22,11,3
1962,26509,1,3,2,nan,98,1,4,NaN,Heading home,22/11/2019 17:19,1,22,11,3
1981,26494,14,3,1,1.000,98,1,98,Cold,Waiting hour and 20mins for a bus,22/11/2019 17:35,4,22,11,3
1996,26226,1,1,2,nan,98,2,98,Dark & cold,In the garden,22/11/2019 17:43,4,22,11,3
2031,26389,3,2,2,nan,98,1,3,NaN,Walking the dog,22/11/2019 18:21,2,22,11,3
2168,26445,2,4,2,nan,98,2,2,NaN,Musical,22/11/2019 20:34,3,22,11,4
2314,26554,11,1,1,6.000,98,3,4,NaN,Holiday shallot,22/11/2019 21:37,3,22,11,4
2344,26513,1,3,2,nan,98,2,4,NaN,Theatre,22/11/2019 22:00,2,22,11,4
2349,26521,3,3,2,nan,98,3,3,NaN,"Band, pub.",22/11/2019 22:11,2,22,11,4
2363,26685,1,4,2,nan,98,3,3,NaN,Tattoo shop,22/11/2019 22:40,3,22,11,4
2423,26470,2,2,2,nan,98,1,6,NaN,"Trip to dentist, then busy jobbing about till 12am",23/11/2019 07:54,2,23,11,1
2432,26422,3,4,2,nan,98,2,1,NaN,In Madrid,23/11/2019 08:00,3,23,11,1
2447,26280,1,3,2,nan,98,3,2,NaN,Boat to France,23/11/2019 08:11,2,23,11,1
2448,26436,5,3,2,nan,98,2,4,NaN,Coffee at a market,23/11/2019 08:11,3,23,11,1
2485,26290,13,4,2,nan,98,2,4,NaN,Rental flat for the weekend,23/11/2019 08:35,3,23,11,1
2489,26214,12,1,2,nan,98,5,4,NaN,Butlins,23/11/2019 08:38,3,23,11,1
2495,26393,11,2,1,7.000,98,2,3,NaN,Going football,23/11/2019 08:41,3,23,11,1
2606,26554,5,1,2,nan,98,3,3,NaN,Holiday shallot,23/11/2019 09:34,3,23,11,1
2682,26280,1,3,2,nan,98,3,1,NaN,In France,23/11/2019 12:00,2,23,11,2
2687,26362,3,4,2,nan,98,3,5,NaN,Cinema,23/11/2019 12:01,4,23,11,2
2698,26422,3,4,2,nan,98,2,1,NaN,Madrid,23/11/2019 12:02,3,23,11,2
2822,26706,1,1,2,nan,98,1,4,NaN,Garage,23/11/2019 13:02,3,23,11,2
2843,26576,1,2,2,nan,98,5,4,NaN,Party,23/11/2019 13:05,1,23,11,2
2847,26244,5,3,2,nan,98,2,4,NaN,Spa day with my wife,23/11/2019 13:05,3,23,11,2
2920,26236,9,3,2,nan,98,5,3,NaN,London stadium,23/11/2019 13:44,3,23,11,2
2929,26587,1,1,2,nan,98,3,4,NaN,Christmas fayre,23/11/2019 14:01,4,23,11,2
2933,26543,1,3,2,nan,98,4,4,NaN,Restaurant,23/11/2019 14:02,3,23,11,2
2982,26214,4,4,2,nan,98,5,4,NaN,Butlins minehead,23/11/2019 16:01,3,23,11,3
2993,26459,3,4,2,nan,98,5,4,NaN,Football,23/11/2019 16:05,1,23,11,3
2999,26422,7,3,2,nan,98,2,2,NaN,Madrid,23/11/2019 16:09,3,23,11,3
3058,26554,12,1,1,6.000,98,3,3,NaN,Holiday shallot,23/11/2019 16:41,3,23,11,3
3100,26212,13,1,2,nan,98,2,3,NaN,Train,23/11/2019 17:01,2,23,11,3
3137,26290,1,4,2,nan,98,3,4,NaN,Shopping,23/11/2019 17:05,3,23,11,3
3164,26703,13,3,2,nan,98,3,4,NaN,Football match,23/11/2019 17:12,3,23,11,3
3175,26483,9,2,1,1.000,98,2,3,NaN,Friends car,23/11/2019 17:16,4,23,11,3
3187,26500,1,4,2,nan,98,2,4,NaN,Butlins skegness,23/11/2019 17:21,3,23,11,3
3199,26280,1,2,2,nan,98,3,2,NaN,France,23/11/2019 17:25,2,23,11,3
3293,26492,2,2,2,nan,98,1,5,NaN,Supermarket,23/11/2019 18:54,3,23,11,3
3381,26554,6,2,2,nan,98,5,2,NaN,Family function,23/11/2019 20:23,3,23,11,4
3506,26280,6,2,2,nan,98,3,3,NaN,Driving back from France,23/11/2019 21:09,2,23,11,4
3554,26260,6,3,2,nan,98,4,98,Cold and dark,Community room,23/11/2019 21:48,2,23,11,4
3610,26422,13,1,1,7.000,98,2,2,NaN,In Madrid,24/11/2019 07:17,3,24,11,1
3638,26314,7,4,2,nan,98,2,3,NaN,Hotel,24/11/2019 07:46,2,24,11,1
3662,26554,5,1,2,nan,98,2,4,NaN,Holiday shallot,24/11/2019 08:08,3,24,11,1
3681,26393,2,1,2,nan,98,1,4,NaN,Gym,24/11/2019 08:26,3,24,11,1
3751,26214,6,1,2,nan,98,5,3,NaN,Butlins,24/11/2019 09:04,3,24,11,1
3786,26695,5,3,2,nan,98,2,3,NaN,On holiday,24/11/2019 09:13,1,24,11,1
3898,26357,1,4,2,nan,98,2,3,NaN,Gym,24/11/2019 10:29,2,24,11,1
3932,26422,7,3,2,nan,98,2,1,NaN,Madrid airport,24/11/2019 12:01,3,24,11,2
3963,26203,12,2,2,nan,98,2,4,NaN,Shopping centre,24/11/2019 12:20,4,24,11,2
3997,26730,1,2,2,nan,98,3,3,NaN,Shopping,24/11/2019 12:38,3,24,11,2
4000,26215,4,2,2,nan,98,5,3,NaN,Daughters majorettes competition,24/11/2019 12:41,4,24,11,2
4020,26196,1,3,2,nan,98,5,3,NaN,Football ground,24/11/2019 12:52,2,24,11,2
4065,26403,7,4,2,nan,98,2,1,NaN,at food festival,24/11/2019 13:03,2,24,11,2
4162,26706,6,2,2,nan,98,1,3,NaN,Garage,24/11/2019 13:53,3,24,11,2
4195,26406,8,2,1,1.000,98,2,4,NaN,Shopping at ikea,24/11/2019 14:24,1,24,11,2
4332,26225,3,4,2,nan,98,5,98,Damp,SUFC v MUFC,24/11/2019 17:01,1,24,11,3
4355,26492,5,4,2,nan,98,3,2,NaN,On my way home from a family day out,24/11/2019 17:03,3,24,11,3
4393,26533,5,3,2,nan,98,1,3,NaN,Gym,24/11/2019 17:07,2,24,11,3
4476,26456,12,4,1,2.000,98,4,3,NaN,At my daughters dance show.,24/11/2019 17:44,4,24,11,3
4489,26695,1,4,1,1.000,98,2,3,NaN,On holiday,24/11/2019 17:56,1,24,11,3
4543,26695,1,3,2,nan,98,2,4,NaN,On holiday,24/11/2019 20:02,1,24,11,4
4562,26266,6,3,2,nan,98,5,4,NaN,Barmitzvah,24/11/2019 20:07,3,24,11,4
4723,26214,3,1,2,nan,98,5,4,NaN,Butlins minehead watching the darts,24/11/2019 21:02,3,24,11,4
4862,26225,3,2,2,nan,98,2,4,NaN,Gym,25/11/2019 07:02,1,25,11,1
4920,26357,3,4,2,nan,98,2,4,NaN,Gym,25/11/2019 07:34,2,25,11,1
4966,26715,7,4,2,nan,98,1,3,NaN,School run,25/11/2019 08:02,2,25,11,1
4996,26695,13,3,1,13.000,98,2,4,NaN,On holiday,25/11/2019 08:16,1,25,11,1
5069,26214,13,1,2,nan,98,5,3,NaN,Butlins minehead,25/11/2019 09:02,3,25,11,1
5109,26250,6,3,2,nan,98,1,4,NaN,Working from home,25/11/2019 09:15,2,25,11,1
5162,26381,10,2,2,nan,98,2,1,NaN,At Hospital with wife,25/11/2019 10:04,2,25,11,1
5169,26422,1,3,2,nan,98,1,4,NaN,At the doctors,25/11/2019 10:12,3,25,11,1
5266,26640,6,2,2,nan,98,3,3,NaN,Shopping,25/11/2019 12:36,2,25,11,2
5324,26563,1,3,2,nan,98,2,4,NaN,Parked in car park waiting for wife,25/11/2019 13:02,4,25,11,2
5351,26241,8,3,1,3.000,98,2,3,NaN,In the car awaiting birth of grandchild,25/11/2019 13:05,2,25,11,2
5420,26250,13,4,1,3.000,98,1,4,NaN,Working from home,25/11/2019 13:23,2,25,11,2
5464,26296,5,2,1,1.000,98,2,4,NaN,Shopping,25/11/2019 13:58,2,25,11,2
5658,26492,13,2,1,7.000,98,1,2,NaN,Shopping,25/11/2019 17:03,3,25,11,3
5688,26541,8,4,1,7.000,98,2,4,NaN,Hospital,25/11/2019 17:06,4,25,11,3
5720,26485,2,3,2,nan,98,2,4,NaN,In the car. Being driven by my wife to a training session,25/11/2019 17:15,2,25,11,3
5753,26622,8,1,2,nan,98,3,4,NaN,Hospital with mum,25/11/2019 17:31,3,25,11,3
5775,26695,1,4,2,nan,98,3,4,NaN,On holiday,25/11/2019 17:47,1,25,11,3
5832,26541,8,4,1,5.000,98,3,4,NaN,Hospital,25/11/2019 20:02,4,25,11,4
5834,26485,6,3,2,nan,98,2,4,NaN,I care coming back from election training session,25/11/2019 20:03,2,25,11,4
6061,26260,7,3,2,nan,98,1,4,NaN,Carpark in car,25/11/2019 21:14,2,25,11,4
6179,26715,1,4,2,nan,98,4,4,NaN,School run,26/11/2019 07:14,2,26,11,1
6302,26697,13,4,1,3.000,98,1,3,NaN,Dentist,26/11/2019 08:31,3,26,11,1
6328,26544,13,3,1,6.000,98,2,3,NaN,Doctors,26/11/2019 08:55,3,26,11,1
6357,26695,6,4,2,nan,98,3,6,NaN,On Holiday,26/11/2019 09:02,1,26,11,1
6441,26250,6,3,2,nan,98,2,3,NaN,Working from home,26/11/2019 09:52,2,26,11,1
6517,26250,5,3,2,nan,98,3,3,NaN,Working from home,26/11/2019 12:13,2,26,11,2
6521,26576,8,4,1,7.000,98,2,4,NaN,At new house painting,26/11/2019 12:15,1,26,11,2
6536,26610,2,2,2,nan,98,1,3,NaN,Bobbing about n stuff,26/11/2019 12:23,4,26,11,2
6562,26507,4,1,2,nan,98,3,2,NaN,University,26/11/2019 12:36,3,26,11,2
6710,26686,12,2,1,2.000,98,2,4,NaN,In the car,26/11/2019 13:28,2,26,11,2
6789,26695,1,3,2,nan,98,3,4,NaN,Onholiday,26/11/2019 14:36,1,26,11,2
6831,26472,5,3,2,nan,98,2,3,NaN,Cinema,26/11/2019 16:12,2,26,11,3
6922,26241,1,4,2,nan,98,2,3,NaN,Maternaty ward,26/11/2019 17:03,2,26,11,3
6966,26272,8,3,2,nan,98,1,4,NaN,Gym,26/11/2019 17:10,2,26,11,3
6972,26459,1,4,2,nan,98,1,3,NaN,My car,26/11/2019 17:11,1,26,11,3
6978,26250,13,3,1,3.000,98,3,3,NaN,Working from home,26/11/2019 17:13,2,26,11,3
6991,26649,3,3,2,nan,98,1,4,NaN,Gym,26/11/2019 17:15,3,26,11,3
6994,26414,2,3,2,nan,98,5,4,NaN,Gym,26/11/2019 17:16,2,26,11,3
7066,26695,1,3,2,nan,98,2,4,NaN,On holiday,26/11/2019 17:57,1,26,11,3
7124,26427,11,3,1,5.000,98,1,2,NaN,Shopping,26/11/2019 20:01,3,26,11,4
7126,26695,1,3,2,nan,98,2,4,NaN,On holiday,26/11/2019 20:02,1,26,11,4
7257,26541,8,4,1,7.000,98,2,3,NaN,Hospital,26/11/2019 20:52,4,26,11,4
7338,26602,2,4,2,nan,98,2,2,NaN,Park,26/11/2019 21:06,2,26,11,4
7353,26703,13,3,2,nan,98,5,4,NaN,Football Training,26/11/2019 21:09,3,26,11,4
7522,26272,2,2,2,nan,98,1,4,NaN,Training course,27/11/2019 07:56,2,27,11,1
7554,26715,11,3,1,11.000,98,1,2,NaN,School run anxious due to i think i look drunk.but everybody says i dont.,27/11/2019 08:19,2,27,11,1
7556,26695,6,3,2,nan,98,2,3,NaN,On holiday,27/11/2019 08:22,1,27,11,1
7616,26357,1,4,2,nan,98,1,4,NaN,Gym,27/11/2019 09:01,2,27,11,1
7659,26576,4,3,2,nan,98,2,5,NaN,At new place painting,27/11/2019 09:08,1,27,11,1
7661,26250,8,4,1,3.000,98,3,3,NaN,Working from home,27/11/2019 09:10,2,27,11,1
7711,26532,6,2,2,nan,98,1,4,NaN,Heading to see customers,27/11/2019 09:36,2,27,11,1
7761,26485,3,4,2,nan,98,1,1,NaN,On my way to lunch with friends,27/11/2019 10:15,2,27,11,1
7786,26513,3,2,2,nan,98,3,4,NaN,Gym,27/11/2019 10:58,2,27,11,1
7855,26272,13,1,2,nan,98,5,4,NaN,Training centre,27/11/2019 12:37,2,27,11,2
7908,26502,8,3,1,1.000,98,1,3,NaN,Car Garage,27/11/2019 13:01,3,27,11,2
8008,26392,14,4,1,1.000,98,2,4,NaN,Hospital,27/11/2019 13:30,4,27,11,2
8026,26250,8,2,1,3.000,98,3,3,NaN,Working from home,27/11/2019 13:40,2,27,11,2
8043,26381,7,3,2,nan,98,2,4,NaN,Hospital,27/11/2019 13:57,2,27,11,2
8166,26355,1,4,2,nan,98,2,3,NaN,Driving,27/11/2019 16:35,2,27,11,3
8193,26472,3,4,2,nan,98,1,2,NaN,Leaving gym,27/11/2019 16:54,2,27,11,3
8214,26272,12,2,2,nan,98,4,4,NaN,Training centre,27/11/2019 17:01,2,27,11,3
8371,26695,1,4,2,nan,98,2,4,NaN,On holiday,27/11/2019 18:02,1,27,11,3
8412,26485,7,3,2,nan,98,5,4,NaN,On train home from lunch with friends,27/11/2019 19:01,2,27,11,3
8421,26427,1,2,2,nan,98,2,4,NaN,Squash,27/11/2019 20:01,3,27,11,4
8426,26695,1,4,2,nan,98,2,3,NaN,On holiday,27/11/2019 20:02,1,27,11,4
8519,26196,10,2,1,2.000,98,5,4,NaN,Football ground,27/11/2019 20:36,2,27,11,4
8607,26272,13,2,2,nan,98,2,4,NaN,Hotel,27/11/2019 21:06,2,27,11,4
8737,26197,3,3,2,nan,98,5,1,NaN,Dubai,28/11/2019 06:41,4,28,11,1
8782,26715,7,3,2,nan,98,4,4,NaN,"School run with for kids ,with bad back",28/11/2019 07:30,2,28,11,1
8842,26493,8,4,1,6.000,98,1,2,NaN,On way to pick someone up at airport,28/11/2019 08:18,2,28,11,1
8854,26272,2,2,2,nan,98,1,4,NaN,Training centre,28/11/2019 08:29,2,28,11,1
8957,26378,2,3,2,nan,98,5,3,NaN,University,28/11/2019 09:15,3,28,11,1
8997,26250,11,2,1,3.000,98,1,1,NaN,Working from home,28/11/2019 09:33,2,28,11,1
9212,26272,1,2,2,nan,98,4,4,NaN,Training centre,28/11/2019 13:03,2,28,11,2
9241,26554,6,2,2,nan,98,5,1,NaN,A wake,28/11/2019 13:09,3,28,11,2
9266,26502,12,3,1,7.000,98,2,3,NaN,Shopping,28/11/2019 13:16,3,28,11,2
9300,26597,4,2,2,nan,98,1,4,NaN,Hospital,28/11/2019 13:39,4,28,11,2
9358,26336,7,3,2,nan,98,3,4,NaN,Hospital appointment,28/11/2019 14:19,2,28,11,2
9371,26241,1,3,2,nan,98,2,3,NaN,In the car,28/11/2019 14:32,2,28,11,2
9404,26715,8,4,1,5.000,98,4,3,NaN,School run with severe back spasms.,28/11/2019 16:10,2,28,11,3
9665,26695,7,3,2,nan,98,2,4,NaN,On Holiday,28/11/2019 18:12,1,28,11,3
9672,26250,8,4,1,1.000,98,3,3,NaN,Working from home,28/11/2019 18:18,2,28,11,3
10038,26715,11,4,1,1.000,98,4,3,NaN,School run,29/11/2019 07:21,2,29,11,1
10150,26403,5,3,2,nan,98,3,98,cold,taking kids to school,29/11/2019 08:51,2,29,11,1
10244,26250,8,3,1,3.000,98,3,2,NaN,Working from home,29/11/2019 09:21,2,29,11,1
10316,26485,3,3,2,nan,98,3,1,NaN,At school where I am a governor,29/11/2019 10:16,2,29,11,1
10342,26695,13,3,2,nan,98,2,4,NaN,On holiday,29/11/2019 12:03,1,29,11,2
10418,26640,7,2,2,nan,98,3,1,NaN,Shopping,29/11/2019 12:43,2,29,11,2
10432,26613,1,3,2,nan,98,5,1,NaN,My old place of work.,29/11/2019 12:53,4,29,11,2
10460,26339,8,3,1,5.000,98,2,3,NaN,Xmas shopping,29/11/2019 13:02,3,29,11,2
10526,26502,12,3,1,1.000,98,2,1,NaN,Shopping,29/11/2019 13:12,3,29,11,2
10541,26250,3,4,2,nan,98,1,1,NaN,Working from home,29/11/2019 13:19,2,29,11,2
10587,26580,6,3,2,nan,98,2,1,NaN,Shopping,29/11/2019 13:41,4,29,11,2
10596,26706,1,2,2,nan,98,1,3,NaN,Garage,29/11/2019 13:51,3,29,11,2
10631,26610,3,1,2,nan,98,1,1,NaN,Bobbing about shopping n stuff,29/11/2019 14:27,4,29,11,2
10716,26403,8,2,2,nan,98,3,3,NaN,shopping,29/11/2019 16:32,2,29,11,3
10721,26695,13,4,2,nan,98,2,4,NaN,On holiday,29/11/2019 16:34,1,29,11,3
10775,26551,1,2,2,nan,98,1,98,Cold,Travelling home,29/11/2019 17:01,1,29,11,3
10861,26472,3,2,2,nan,98,1,1,NaN,Gym,29/11/2019 17:22,2,29,11,3
10878,26610,3,1,2,nan,98,1,98,Dark & dry,At home & bobing about,29/11/2019 17:30,4,29,11,3
10953,26604,9,2,1,7.000,98,3,3,NaN,Funeral of brother in law,29/11/2019 18:53,3,29,11,3
10977,26715,8,4,1,3.000,98,4,4,NaN,In bef heavy medicated pain is getting more unbarble .trying to get doctor appointment is middle od DEC. Psin dont wait. ...,29/11/2019 20:03,2,29,11,4
11232,26695,1,3,2,nan,98,2,4,NaN,On holiday,29/11/2019 21:53,1,29,11,4
11374,26715,8,3,1,3.000,98,1,3,NaN,Shopping,30/11/2019 08:45,2,30,11,1
11590,26576,8,4,1,4.000,98,3,2,NaN,Moving house,30/11/2019 10:33,1,30,11,1
11670,26248,8,3,1,5.000,98,2,1,NaN,Stuck in traffic for an hour,30/11/2019 12:32,1,30,11,2
11672,26610,8,2,1,5.000,98,1,1,NaN,Bobbing about,30/11/2019 12:33,4,30,11,2
11676,26421,1,3,2,nan,98,3,98,Cold,Shopping,30/11/2019 12:35,2,30,11,2
11683,26265,2,3,1,3.000,98,1,1,NaN,Child's swimming class,30/11/2019 12:36,2,30,11,2
11695,26689,1,3,2,nan,98,3,2,NaN,Church fair with my two kids .,30/11/2019 12:42,4,30,11,2
11796,26212,7,3,2,nan,98,3,4,NaN,School,30/11/2019 13:08,2,30,11,2
11816,26435,1,3,2,nan,98,2,2,NaN,Heading to pick up sons new bike,30/11/2019 13:16,2,30,11,2
12089,26484,1,2,2,nan,98,5,7,NaN,Xmas light switch on,30/11/2019 17:11,1,30,11,3
12146,26389,1,4,2,nan,98,2,3,NaN,At the Spurs ground watch them beat Bournemouth 3-2,30/11/2019 17:36,2,30,11,3
12480,26463,3,3,2,nan,98,5,2,NaN,Restaurant,30/11/2019 21:34,3,30,11,4
12483,26715,8,4,1,1.000,98,4,3,NaN,In alot of pain and also feeling drowsey due t diazepam and morphine patch.,30/11/2019 21:37,2,30,11,4
12561,26579,13,3,2,nan,98,3,2,NaN,In a hotel room,01/12/2019 07:32,3,1,12,1
12615,26724,3,4,2,nan,98,3,3,NaN,Airport,01/12/2019 08:30,1,1,12,1
12655,26702,1,3,2,nan,98,2,2,NaN,Weekend away,01/12/2019 09:02,3,1,12,1
12717,26470,1,3,2,nan,98,2,2,NaN,Air bnb house boat,01/12/2019 09:21,2,1,12,1
12901,26453,2,3,2,nan,98,1,1,NaN,Garage training,01/12/2019 12:31,3,1,12,2
13016,26272,1,3,2,nan,98,5,1,NaN,Theme park,01/12/2019 13:11,2,1,12,2
13058,26770,6,2,2,nan,98,1,1,NaN,Supermarket,01/12/2019 13:30,4,1,12,2
13068,26562,7,2,2,nan,98,5,2,NaN,Church,01/12/2019 13:35,3,1,12,2
13100,26703,13,2,1,7.000,98,3,1,NaN,Shopping Centre,01/12/2019 14:00,3,1,12,2
13135,26605,6,2,1,1.000,98,5,2,NaN,At a social club,01/12/2019 14:48,1,1,12,2
13139,26316,8,1,1,1.000,98,3,1,NaN,Shopping,01/12/2019 14:52,2,1,12,2
13164,26724,1,4,2,nan,98,3,1,NaN,Holiday,01/12/2019 16:10,1,1,12,3
13202,26715,11,4,1,1.000,98,5,98,Night time,Been in bed asleep all day due to the heavy meds.now got family comming around tonighit and im worrrid that i look like a druggie.causingnothing but stress.my wife days stsy up stairs i day i eant to support you.cant win,01/12/2019 16:31,2,1,12,3
13368,26309,1,1,1,7.000,98,2,2,NaN,Fishing,01/12/2019 17:31,4,1,12,3
13410,26779,13,3,1,5.000,98,1,98,Clear night but cold,On way home from work,01/12/2019 18:02,4,1,12,3
13474,26724,1,4,2,nan,98,3,98,Mild,Holiday,01/12/2019 20:05,1,1,12,4
13559,26715,13,4,1,13.000,98,4,98,Nightime,In bed with severe back spasms alot of pain,01/12/2019 20:42,2,1,12,4
13764,26493,8,4,1,6.000,98,3,2,NaN,In a pub quiz,01/12/2019 22:48,2,1,12,4
13914,26724,7,3,2,nan,98,3,2,NaN,Holiday,02/12/2019 08:42,1,2,12,1
13922,26715,10,4,1,6.000,98,2,1,NaN,Citizens advice get help.filling forms in due to my anxiety and dislexya.,02/12/2019 08:49,2,2,12,1
13983,26560,3,1,2,nan,98,5,2,NaN,Gym,02/12/2019 09:11,2,2,12,1
14095,26472,3,4,2,nan,98,3,1,NaN,Flying to Frankfurt,02/12/2019 10:45,2,2,12,1
14153,26724,1,3,2,nan,98,3,4,NaN,Holiday,02/12/2019 12:34,1,2,12,2
14233,26604,7,2,2,nan,98,3,1,NaN,Church Breakfast Club putting up Xmas decorations,02/12/2019 13:03,3,2,12,2
14289,26250,8,4,1,3.000,98,1,3,NaN,Working from home,02/12/2019 13:11,2,2,12,2
14502,26779,13,3,1,7.000,98,1,7,NaN,On way home from work,02/12/2019 16:47,4,2,12,3
14512,26266,1,2,2,nan,98,3,5,NaN,In car travelling to a short break,02/12/2019 16:52,3,2,12,3
14695,26413,5,2,2,nan,98,2,2,NaN,Driving,02/12/2019 18:03,1,2,12,3
14701,26250,8,4,1,5.000,98,3,2,NaN,Working from home,02/12/2019 18:09,2,2,12,3
14736,26724,1,3,2,nan,98,3,2,NaN,Holiday,02/12/2019 19:34,1,2,12,4
15014,26715,14,3,1,1.000,98,4,3,NaN,In consent back pain now i have had enough tired angry grumpy,02/12/2019 21:48,2,2,12,4
15017,26266,1,3,2,nan,98,4,5,NaN,Holiday,02/12/2019 21:49,3,2,12,4
15031,26265,3,4,2,nan,98,5,2,NaN,Martial Arts Dojo,02/12/2019 22:06,2,2,12,4
15074,26472,7,4,2,nan,98,3,2,NaN,Frankfurt,03/12/2019 06:35,2,3,12,1
15101,26715,13,4,1,1.000,98,3,3,NaN,School run,03/12/2019 07:17,2,3,12,1
15165,26486,7,3,2,nan,98,3,1,NaN,In hospital with my pregnant fianc. On the labour ward,03/12/2019 08:03,3,3,12,1

In [12]:
appdata[~pd.isnull(appdata['Q798'])]

       userid  Q1  Q2  Q3     Q4  Q5  Q6  Q7  \
2       26252   1   2   2    nan   2   2  98
3       26380  13   3   1  1.000   1   2  98
5       26354   6   3   2    nan   1   1  98
10      26225   5   2   2    nan   1   3  98
11      26503   1   3   2    nan   2   2  98
16      26376  13   2   1  3.000   1   2  98
26      26314   1   2   2    nan   2   3  98
37      26415   5   2   2    nan   2   3  98
49      26248  13   2   1  3.000   1   4  98
54      26290   5   3   2    nan   1   1  98
58      26326   7   2   2    nan   1   4  98
64      26308  13   4   1  1.000   1   3  98
82      26223   5   2   2    nan   6   2  98
83      26247   5   2   2    nan   1   2  98
109     26219  13   2   1  7.000   2   4  98
113     26395   6   2   2    nan   1   1  98
117     26270  13   1   1  3.000   1   1  98
122     26524  11   3   1  2.000   1   1  98
126     26243   1   2   2    nan   1   2  98
137     26496  13   2   1  1.000   2   3  98
142     26457   2   3   2    nan   1   1  98
156     26430   5   3   2    nan   2   3  98
158     26409   8   3   1  5.000   2   3   2
214     26546   5   2   2    nan   2   3  98
253     26457   1   3   2    nan   1   4  98
263     26517   5   4   2    nan   2   2  98
277     26411  12   1   1  2.000   2   3  98
310     26247   5   3   2    nan   1   2  98
324     26249   5   3   2    nan   2   4  98
332     26270   5   2   2    nan   1   2  98
363     26375   6   2   2    nan   2   3  98
400     26219  13   2   1  1.000   2   4  98
427     26235   8   1   2    nan   2   2  98
432     26395   6   1   1  1.000   1   1  98
434     26308   6   3   1  1.000   2   2  98
475     26587   6   2   2    nan   1   3  98
476     26415   6   2   2    nan   2   3  98
477     26268  13   2   1  6.000   2   2  98
491     26462   5   1   2    nan   1   1  98
510     26495   8   3   1  1.000   2   3  98
514     26546   6   3   2    nan   2   3  98
522     26251   1   3   2    nan   2   1  98
534     26354   1   2   2    nan   1   3  98
547     26341   8   2   2    nan   2   5  98
552     26207  12   3   1  7.000   2   3  98
560     26247   5   2   2    nan   1   2  98
567     26610  12   2   1  3.000   1   1  98
580     26294   6   2   1  3.000   1   1  98
582     26395   8   1   1  7.000   1   2  98
583     26587   7   2   2    nan   1   3  98
586     26411   4   3   2    nan   1   3  98
589     26252  13   3   1  1.000   2   2  98
591     26319   8   2   1  5.000   3   1  98
595     26607  13   1   2    nan   1   2  98
598     26342  12   4   1  1.000   2   3  98
604     26412   3   3   2    nan   2   3  98
605     26470   1   2   2    nan   1   1  98
612     26326   5   2   2    nan   1   4  98
617     26504   5   2   2    nan   2   2  98
618     26349   1   3   2    nan  98   2  98
619     26547   6   2   1  7.000   1   2  98
624     26462   1   1   2    nan   6   2  98
626     26327   7   4   2    nan   1   1  98
629     26249   1   3   2    nan   2   3  98
634     26394  12   2   1  1.000   1   1  98
642     26351   6   3   1  3.000   1   3  98
644     26474   1   3   2    nan   1   3  98
661     26377   1   4   2    nan   1   2  98
675     26217   5   2   2    nan   1   3  98
676     26491   1   3   2    nan   1   3  98
684     26512   5   3   2    nan  98   2  98
695     26283  13   1   1  7.000   1   2  98
699     26308  13   4   1  2.000  98   2  98
704     26527  13   3   1  1.000   1   4  98
705     26270   1   2   2    nan   1   3  98
711     26350   1   2   2    nan   4   1  98
715     26235  13   2   1  6.000   2   3  98
723     26266   6   2   2    nan   2   3  98
727     26446   2   2   2    nan   1   3  98
736     26500   8   3   2    nan  98   2  98
741     26479   5   2   2    nan   1   2  98
745     26560   6   4   2    nan   1   2  98
752     26226   1   3   2    nan   1   3  98
753     26457   1   3   2    nan   2   1  98
754     26343   7   1   2    nan   1   1  98
762     26285   5   1   2    nan   2   1  98
765     26356  13   3   2    nan   1   3  98
767     26449   6   2   2    nan   4   2  98
770     26241   1   3   2    nan   1   2  98
772     26668   6   3   2    nan   1   1  98
774     26357   5   2   2    nan   1   1  98
776     26535  14   2   2    nan  98   1  98
781     26517   1   2   2    nan   1   3  98
785     26530   7   2   2    nan   1   3  98
788     26487   7   3   1  6.000   1   3  98
790     26562   5   2   2    nan   3   1  98
795     26685   1   4   2    nan   1   2  98
796     26686  13   2   1  6.000   1   4  98
800     26583  13   3   2    nan   1   2  98
806     26609  12   3   1  1.000   1   3  98
815     26362   5   4   2    nan   1   3  98
821     26354  13   3   2    nan   1   3  98
829     26694   1   2   1  7.000   1   3  98
834     26234   7   4   2    nan   1   3  98
838     26350   6   3   2    nan   1   3  98
847     26249   7   3   2    nan   1   3  98
848     26421   5   3   2    nan   1   3  98
849     26306   7   3   2    nan   1   3  98
857     26226   7   1   2    nan   1   4  98
860     26248   5   3   2    nan   1   2  98
866     26258   7   3   2    nan   1   2  98
868     26294  13   3   1  6.000   1   1  98
874     26440   7   3   2    nan   1   2  98
878     26400  13   4   2    nan   1   2  98
883     26411   5   2   2    nan   1   2  98
884     26270   5   2   2    nan   1   2  98
890     26252   7   4   2    nan   1   2  98
891     26264   1   3   2    nan   1   2  98
892     26415   7   3   2    nan   1   2  98
894     26595   5   2   2    nan   1   1  98
896     26418   4   2   2    nan   1   1  98
898     26613   7   2   2    nan   1   2  98
901     26412   8   3   1  4.000   1   1  98
902     26535   5   3   2    nan   1   1  98
910     26266   7   2   2    nan   1   3  98
912     26462   1   2   2    nan   6   2  98
913     26587   7   2   2    nan   1   3  98
917     26236   1   2   2    nan   1   3  98
924     26517   7   4   2    nan   1   3  98
925     26509   1   4   2    nan   1   2  98
931     26536  13   3   1  7.000   1   1  98
932     26607   6   2   2    nan   1   3  98
937     26414  13   1   2    nan   1   2  98
938     26195   7   2   2    nan   1   1  98
945     26247   6   3   2    nan   1   2  98
948     26287  12   2   1  5.000   1   2  98
950     26685   6   2   2    nan   1   2  98
976     26349   1   4   2    nan   1   3  98
978     26592   7   2   2    nan   1   2  98
982     26642  11   1   1 11.000   1   3  98
984     26241   6   4   2    nan   1   2  98
986     26276   1   4   2    nan   1   2  98
988     26378   7   3   2    nan   1   2  98
995     26399   1   2   2    nan   1   1  98
1001    26686   7   2   2    nan   1   2  98
1002    26359   6   2   2    nan   5   2  98
1007    26340   7   2   2    nan   1   2  98
1015    26224   7   1   1  6.000   1   2  98
1016    26537   1   3   2    nan   1   2  98
1020    26560   6   4   2    nan   1   2  98
1022    26217   7   2   2    nan   1   3  98
1027    26207   1   3   2    nan   1   2  98
1029    26457   2   3   2    nan  98   1  98
1031    26700   6   3   2    nan   1   3  98
1035    26638   1   3   2    nan   1   2  98
1037    26460  13   4   1  3.000   1   3  98
1039    26586  13   2   2    nan   1   2  98
1044    26376   7   3   2    nan   1   2  98
1047    26206   6   3   2    nan   1   3  98
1054    26504   2   2   2    nan   1   2  98
1055    26610   7   2   2    nan   1   1  98
1058    26562   4   3   2    nan   1   2  98
1060    26479   6   2   2    nan   1   2  98
1061    26279   5   3   2    nan   1   3  98
1064    26522   8   2   1  5.000   1   3  98
1065    26343   7   3   2    nan   1   1  98
1068    26395   1   2   2    nan   6   3  98
1076    26235  13   3   2    nan   1   3  98
1078    26585   7   2   2    nan   1   2  98
1079    26527   1   2   2    nan   1   2  98
1081    26580   4   3   1  7.000   1   2  98
1093    26394   6   1   2    nan   1   1  98
1096    26356   7   3   2    nan   1   2  98
1105    26550   6   2   2    nan   1   2  98
1130    26354   2   3   2    nan   1   1  98
1141    26252   1   2   2    nan   2   2  98
1152    26400   7   1   1  3.000   1   2  98
1191    26348  13   3   1  6.000   1   5  98
1199    26492  11   1   1  2.000   1   2  98
1365    26500   1   1   2    nan   1   1  98
1375    26512   5   3   2    nan   2   2  98
1449    26583   1   3   2    nan   2   3  98
1549    26411   1   2   2    nan   2   3  98
1578    26629   6   3   2    nan   3   1  98
1645    26512  11   3   2    nan   2   2  98
1646    26266   1   2   2    nan   2   3  98
1781    26354   3   4   2    nan   1   4  98
1787    26290   3   4   2    nan   3   4  98
1789    26585   6   3   2    nan   1   2  98
1798    26651   8   4   1 11.000   1   1  98
1799    26352  13   2   1  1.000   3   2  98
1803    26449   1   3   2    nan   1   3  98
1819    26417   1   4   2    nan   1   2  98
1829    26474   3   3   2    nan   1   2  98
1833    26411  10   1   1  6.000   1   3  98
1844    26343   7   2   2    nan   1   1  98
1847    26686   6   2   2    nan   1   3  98
1859    26340  13   1   1  3.000   1   3  98
1867    26642   6   3   2    nan   2   3  98
1870    26541   1   3   2    nan   1   3  98
1884    26362  13   3   1  8.000  98   3  98
1906    26403   1   3   2    nan   1   2  98
1913    26615   7   3   2    nan   1   2  98
1926    26235   9   2   2    nan   5   3  98
1930    26276   6   3   2    nan   2   4  98
1950    26512  11   3   2    nan   1   3  98
1952    26551   1   2   2    nan   1   3  98
1959    26241   1   2   2    nan   1   1  98
1965    26224   5   2   2    nan   1   3  98
1967    26357   6   2   2    nan   1   1  98
1971    26479   5   1   2    nan   1   2  98
1972    26294   5   3   2    nan   1   1  98
1975    26569   7   3   2    nan   1   3  98
1981    26494  14   3   1  1.000  98   1  98
1992    26375   1   3   2    nan   5   2  98
1996    26226   1   1   2    nan  98   2  98
2005    26470   1   2   2    nan   3   1  98
2023    26560   5   3   2    nan   2   2  98
2030    26530   7   2   2    nan   1   1  98
2032    26219   1   2   2    nan   1   3  98
2041    26610   5   3   2    nan   1   1  98
2044    26400   6   2   2    nan   1   2  98
2047    26269   1   1   2    nan   1   3  98
2048    26385   1   4   2    nan   1   3  98
2069    26354   6   2   2    nan   1   4  98
2076    26258   7   3   2    nan   1   3  98
2083    26248  13   3   2    nan   1   2  98
2094    26279   7   4   2    nan   1   3  98
2108    26219   1   3   2    nan   1   3  98
2115    26207  13   1   2    nan   1   1  98
2128    26686   5   3   2    nan   1   3  98
2132    26462   6   2   2    nan   6   2  98
2143    26343   6   3   2    nan   1   2  98
2144    26714   1   3   2    nan   1   2  98
2152    26651  10   3   2    nan   1   1  98
2154    26724  13   3   1  3.000   1   2  98
2163    26217   6   3   2    nan   1   3  98
2164    26241   6   4   2    nan   1   2  98
2175    26418   7   3   2    nan   1   2  98
2176    26504   6   3   2    nan   1   2  98
2190    26400   7   4   2    nan   1   2  98
2196    26294   6   2   1  5.000   1   1  98
2198    26306   6   3   2    nan   1   3  98
2225    26551   8   1   1  2.000   1   2  98
2228    26610   7   3   2    nan   1   1  98
2236    26304   1   4   2    nan   1   2  98
2240    26569  13   2   1  6.000   1   3  98
2245    26349   7   3   2    nan   1   2  98
2247    26375   1   4   2    nan   5   2  98
2258    26235   9   1   2    nan   1   2  98
2263    26244   7   4   2    nan   1   2  98
2282    26692   1   4   2    nan   1   3  98
2291    26224   7   2   2    nan   1   2  98
2300    26280   7   3   2    nan   5   4  98
2303    26340   1   1   2    nan   5   3  98
2306    26537   7   4   2    nan   1   2  98
2311    26412   7   3   2    nan   1   3  98
2315    26479   7   2   2    nan   1   2  98
2327    26226   5   1   2    nan   1   2  98
2341    26260   1   3   2    nan   1   1  98
2348    26385  13   4   2    nan   1   1  98
2356    26269  14   1   2    nan   5   5  98
2361    26530   7   3   2    nan   1   3  98
2366    26236   1   3   2    nan   1   2  98
2369    26492   4   3   2    nan   1   4  98
2418    26479   5   1   2    nan   2   1  98
2424    26562  13   1   2    nan   1   1  98
2494    26376   8   1   1  6.000   1   2  98
2508    26400   7   1   2    nan   2   5  98
2514    26512  13   3   2    nan   1   3  98
2541    26724   5   4   2    nan   2   4  98
2616    26235  13   3   1  3.000   1   2  98
2694    26724   5   4   2    nan   2   4  98
2710    26693   7   3   2    nan   1   1  98
2886    26560   1   4   2    nan   2   3  98
2896    26400   7   2   2    nan   2   5  98
2905    26235   8   2   1  7.000   1   2  98
2992    26266   1   3   2    nan   5   1  98
3027    26724   5   3   2    nan   1   1  98
3039    26354   3   2   2    nan   4   2  98
3042    26319   1   4   2    nan   1   1  98
3052    26527   1   1   1  1.000   5   4  98
3063    26550   6   3   2    nan   1   2  98
3101    26294   7   3   2    nan   6   3  98
3125    26217   7   3   2    nan   1   3  98
3145    26276   6   3   2    nan   3   3  98
3161    26560   1   4   2    nan   2   3  98
3210    26235  13   1   2    nan   5   2  98
3219    26686   6   2   2    nan   1   3  98
3223    26394   4   1   2    nan   6   3  98
3233    26479   5   2   2    nan   2   2  98
3259    26715  10   4   1  1.000   1   4  98
3261    26470   1   2   2    nan   6   2  98
3268    26236   1   3   2    nan   5   4  98
3285    26224   7   2   2    nan   1   3  98
3289    26226   7   4   2    nan   1   3  98
3292    26418   5   2   2    nan   1   2  98
3306    26354   7   3   2    nan   1   2  98
3309    26732  13   2   1  7.000   1   3   2
3313    26266   6   3   2    nan   1   3  98
3318    26241   3   3   2    nan   1   1  98
3325    26279   6   3   2    nan   1   3  98
3389    26715  14   4   1  1.000   1   4  98
3395    26724   3   3   2    nan   5   5  98
3402    26226   7   4   2    nan   1   3  98
3405    26306   7   4   2    nan   1   3  98
3410    26564   1   4   2    nan   1   3  98
3417    26294   6   2   1  7.000   1   1  98
3437    26236   8   2   2    nan   1   2  98
3440    26217   5   3   2    nan   1   3  98
3481    26527  11   2   1  1.000   1   3  98
3500    26562   7   2   2    nan   1   1  98
3518    26235   8   2   2    nan   1   3  98
3524    26736   2   2   2    nan   1   1  98
3541    26686   5   2   2    nan   1   1  98
3546    26714   1   3   2    nan   1   2  98
3552    26605  10   2   1  6.000   1   2  98
3554    26260   6   3   2    nan  98   4  98
3581    26479   9   1   2    nan   1   2  98
3595    26219   1   3   2    nan   1   3  98
3609    26686  13   4   1  5.000   1   3  98
3611    26400   7   1   2    nan   1   2  98
3612    26601   1   3   2    nan   2   3  98
3644    26268  13   3   1  2.000   1   4  98
3683    26724  13   4   1  3.000   1   2  98
3725    26226   1   4   2    nan   1   3  98
3744    26319  13   2   1  3.000   1   1  98
3752    26560   6   2   2    nan   1   3  98
4144    26562   7   1   2    nan   1   1  98
4289    26241   7   3   2    nan   1   1  98
4292    26629   1   4   2    nan   1   2  98
4327    26266   2   2   2    nan   1   3  98
4332    26225   3   4   2    nan  98   5  98
4346    26724  13   4   1  7.000   1   3  98
4377    26276  13   2   1 13.000   1   2  98
4378    26217   5   2   2    nan   1   3  98
4388    26400   6   1   2    nan   1   2  98
4420    26651  10   4   2    nan   1   3  98
4427    26479   7   2   2    nan   5   3  98
4462    26686  13   4   1  7.000   1   3  98
4470    26615   7   3   2    nan   1   2  98
4483    26560  13   1   2    nan   1   1  98
4495    26585   6   2   2    nan   1   2  98
4517    26605   7   2   1  4.000   1   2  98
4530    26525  12   1   1  5.000   1   2  98
4538    26258   6   3   2    nan   1   2  98
4542    26354   7   2   2    nan   1   1  98
4549    26561   7   3   2    nan   1   3  98
4553    26219   1   2   2    nan   1   3  98
4554    26279   6   4   2    nan   1   3  98
4561    26724  13   3   1  3.000   1   2  98
4563    26694   7   3   2    nan   1   1  98
4575    26294   6   2   1  7.000   1   1  98
4603    26217   6   2   2    nan   1   3  98
4614    26585  13   4   2    nan   1   2  98
4635    26547   8   3   1  5.000   1   2  98
4642    26362   5   2   2    nan   1   1  98
4643    26226   7   1   2    nan   1   2  98
4673    26527  11   2   1  1.000   1   3  98
4702    26276   7   3   2    nan   1   3  98
4729    26241  11   1   2    nan   1   2  98
4731    26400  13   4   2    nan   1   2  98
4767    26615   7   4   2    nan   1   2  98
4768    26459   4   4   2    nan   1   3  98
4777    26595   5   2   2    nan   1   1  98
4779    26260   5   4   2    nan   2   3  98
4802    26686   7   3   2    nan   1   2  98
4816    26479   5   2   2    nan   1   2  98
4817    26537   7   3   2    nan   1   1  98
4821    26504   9   2   1  6.000   1   1  98
4846    26207   8   1   1  5.000   1   2  98
4848    26236   5   2   2    nan   1   2  98
4851    26629   1   4   2    nan   1   2  98
4852    26385   5   3   2    nan   2   2  98
4868    26354   6   1   2    nan   1   1  98
5106    26235  13   2   1  7.000   1   1  98
5419    26235  12   1   1  7.000   2   1  98
5540    26651   8   3   2    nan   1   2  98
5592    26560  13   1   2    nan   2   2  98
5666    26217   7   3   2    nan   1   3  98
5698    26530  13   1   1  3.000   2   5  98
5701    26479   7   2   2    nan   1   2  98
5779    26340   6   1   2    nan   1   3  98
5780    26235   9   1   1  7.000   2   1  98
5828    26727   1   2   2    nan   1   3  98
5847    26400  13   3   1  6.000   2   2  98
5866    26217   7   2   2    nan   1   3  98
5887    26319   1   2   2    nan   1   2  98
5902    26236   7   4   2    nan   1   3  98
5932    26241  11   3   1  3.000   1   2  98
5939    26610  11   1   1  7.000   1   1  98
5944    26212   7   2   2    nan   4   4  98
5976    26547   6   2   1  5.000   1   2  98
5990    26288   7   4   2    nan   1   2  98
6010    26470   5   3   2    nan   1   3  98
6011    26340   7   2   2    nan   6   3  98
6013    26276   7   2   2    nan   1   2  98
6041    26479   5   2   2    nan   1   2  98
6056    26279   1   4   2    nan   1   3  98
6069    26504   3   3   2    nan   1   1  98
6101    26385   7   4   2    nan   1   3  98
6117    26569  13   4   1  6.000   1   2  98
6215    26354  13   3   1  2.000   1   1  98
6256    26400   7   1   2    nan   2   5  98
6303    26560  13   4   1  6.000   1   2  98
6632    26560  14   2   2    nan   1   2  98
6903    26354   1   3   2    nan   3   1  98
6932    26235  12   4   1  6.000   2   3  98
6981    26547   5   2   1  1.000   1   2  98
7050    26479   5   1   2    nan   1   2  98
7059    26651   7   4   2    nan   1   2  98
7121    26357   6   3   2    nan   1   2  98
7125    26354  13   4   1  7.000   1   3  98
7129    26258  11   3   1  1.000   1   3  98
7143    26266   5   2   2    nan   1   3  98
7182    26217   7   3   2    nan   1   3  98
7193    26547   6   2   1  4.000   1   2  98
7199    26560  14   1   1  1.000   2   2  98
7202    26236   6   3   2    nan   1   4  98
7210    26400  13   1   2    nan   1   2  98
7212    26219   7   2   2    nan   1   2  98
7231    26474   7   4   2    nan   1   1  98
7241    26279   1   4   2    nan   1   2  98
7244    26470   5   3   2    nan   1   3  98
7280    26651  14   4   2    nan   1   2  98
7357    26479   6   2   2    nan   1   2  98
7398    26235   5   2   2    nan   1   1  98
7416    26241   1   4   2    nan   1   2  98
7471    26525   6   2   2    nan   1   2  98
7533    26560  13   2   2    nan   3   2  98
7630    26610  10   3   1  4.000   1   1  98
8201    26585  13   1   1  3.000   1   2  98
8220    26354   3   3   2    nan   3   1  98
8242    26217   6   3   2    nan   1   3  98
8259    26479   6   2   2    nan   2   3  98
8312    26357   7   2   2    nan   1   1  98
8380    26219   6   2   2    nan   1   1  98
8384    26236   5   2   2    nan   5   3  98
8388    26235   5   1   2    nan   2   1  98
8400    26340   1   1   2    nan   1   3  98
8425    26354   6   2   2    nan   1   2  98
8455    26356  13   3   2    nan   1   2  98
8458    26479   7   2   2    nan   2   3  98

In [7]:
appdata.shape

(27135, 15)

In [5]:
appdata[~pd.isnull(appdata['Q598'])].shape

(463, 15)

In [6]:
appdata[~pd.isnull(appdata['Q798'])].shape

(1571, 15)

In [23]:
appdata[~pd.isnull(appdata['Q798'])]['userid'].nunique() #.sample(10)

260

In [8]:
print(iswmetric.shape)
iswmetric.head(5)

(52, 10)

,DeviceSN0x,Duration,PowerWatts,count,nodays,stdevPuffdays,nosessions,avgpuffses,puffsesstdev,UserNo
0,303847163334313828001200,1.946,10.050,201,7,28.235,10,18.000,16.062,26738.000
1,303847163334313836001500,2.470,14.651,789,20,27.869,139,5.647,7.518,26197.000
2,30384716333431383c003a00,4.102,15.120,581,25,24.241,95,6.105,5.437,26712.000
3,30384716333431383f003e00,1.719,20.000,334,9,38.303,23,14.087,10.352,26398.000
4,303847163334313840005700,2.304,10.242,207,13,14.221,26,7.885,8.199,26546.000

In [11]:
iswmetric['DeviceSN0x'].nunique()

52

In [7]:
print(iswdata.shape)
iswdata.head(5)

(142646, 6)

,DeviceSN0x,Counter,TimeStamp,Duration,PowerLevel,PowerWatts
0,3138470d3935363454002900,1.000,1970-01-01 00:00:08,1.200,High,20
1,3138470d3935363454002900,2.000,1970-01-01 00:00:12,1.500,High,20
2,3138470d3935363454002900,1.000,1970-01-01 00:20:07,3.300,Medium,15
3,3138470d3935363454002900,2.000,1970-01-01 00:20:11,3.300,High,20
4,3138470d3935363454002900,3.000,1970-01-01 00:20:16,3.300,Low,10

In [3]:
iswmetric['DeviceSN0x'].nunique()

52

In [10]:
iswdata['DeviceSN0x'].nunique()

100

In [6]:
print(param.shape)
param.head(5)

(220917, 9)

,SegmentId,Value,UserId,Cell,uMotifTime,motifHour,TimeBin,Day,Month
0,718,4,26495,3,21/11/2019 00:17,0,4,21,11
1,291,2,26350,1,21/11/2019 02:19,2,5,21,11
2,292,2,26350,1,21/11/2019 02:19,2,5,21,11
3,293,2,26350,1,21/11/2019 02:19,2,5,21,11
4,294,3,26350,1,21/11/2019 02:19,2,5,21,11

In [12]:
param['UserId'].nunique()

412

In [5]:
print(appdata.shape)
appdata.head(5)

(27135, 15)

,userid,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q798,Q598,OperationTimestamp,Cell,Day,Month,TimeBin
0,26470,5,2,1,3.000,1,2,3,NaN,NaN,21/11/2019 07:01,2,21,11,1
1,26312,2,2,2,nan,2,5,3,NaN,NaN,21/11/2019 07:01,3,21,11,1
2,26252,1,2,2,nan,2,2,98,Cold,NaN,21/11/2019 07:02,3,21,11,1
3,26380,13,3,1,1.000,1,2,98,Dark and dull,NaN,21/11/2019 07:02,3,21,11,1
4,26330,1,2,2,nan,2,3,3,NaN,NaN,21/11/2019 07:02,3,21,11,1

In [13]:
appdata['userid'].nunique()

411